<nav>
  <ul>
    <li>
      <h1><span class="fa-solid fa-bolt" aria-hidden="true"></span> Smart Grid Cloud Computing Project</h1>
    </li>
    <li>
      <a href="/">
        Knowledge Graph
      </a>
    </li>
    <li>
      <a href="/second-page">
        
      </a>
    </li>
    <li>
      <a href="https://github.com/rneupane93/SGChain-KG" target="_blank">
        <span class="fa-brands fa-square-github" aria-hidden="true"></span>
        <span class="sr-only">GitHub</span>
      </a>
    </li>
  </ul>
</nav>
