/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --purple: #9C27B0;
  --blue: #03A9F4;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#blob {
  position: absolute;
  height: 20rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: linear-gradient(to left top, var(--purple), var(--blue));
  opacity: 0;
  z-index: -2;
  transition: opacity 0.5s ease-in-out;
  transform-origin: center;
  animation:  rotate 20s linear infinite,
              pulse 5s infinite;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(8rem);
}

@keyframes pulse {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
